<header id="header" class="site-header">
    <nav id="header-nav" class="navbar navbar-expand-lg py-3">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="logo/kreasindo1.png" class="logo">
        </a>
        <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="navbar-icon">
            <use xlink:href="#navbar-icon"></use>
          </svg>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
          <div class="offcanvas-header px-4 pb-0">
            <a class="navbar-brand" href="index.html">
              <img src="images/main-logo.png" class="logo">
            </a>
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"
              data-bs-target="#bdNavbar"></button>
          </div>
          <div class="offcanvas-body">
            <ul id="navbar"
              class="navbar-nav text-uppercase justify-content-start justify-content-lg-center align-items-start align-items-lg-center flex-grow-1">
              <li class="nav-item">
                <a class="nav-link me-4" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4 active" href="index.html">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="index.html">Cart</a>
              </li>
            </ul>
            <div class="d-flex user-items">
              <ul class="d-flex justify-content-end list-unstyled mb-0">
                <li class="pe-3">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg class="user">
                      <use xlink:href="#user"></use>
                    </svg>
                    <span style="padding-left: 3px; padding-top: 1px;">Account</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

<div class="shop-header text-center py-5 bg-light">
    <h1 class="fw-bold">Shop</h1>
    <p>Temukan jenis cetakan terbaik untuk kebutuhan Anda!</p>
</div>

<div class="container my-5">
    <div class="row g-4">
        <!-- Loop through products -->
        <div class="col-md-4 col-sm-6" *ngFor="let product of products">
            <div class="card h-100 shadow-sm">
                <!-- Gambar dengan ukuran tetap dan proporsional -->
                <img [src]="product.image" class="card-img-top" alt="{{ product.name }}" style="object-fit: cover; height: 200px;" />
                <div class="card-body d-flex flex-column">
                    <!-- Nama Produk, Deskripsi, dan Harga di bawah gambar -->
                    <h5 class="card-title text-dark mt-3">{{ product.name }}</h5>
                    <p class="card-text text-dark small flex-grow-1">{{ product.description }}</p>
                    <p class="text-primary fw-bold">Rp {{ product.price | number }}</p>
                </div>
                <div class="card-footer bg-white border-top-0 text-center">
                    <button class="btn btn-primary w-100" (click)="addToCart(product)">Tambah ke Keranjang</button>
                </div>
            </div>
        </div>
    </div>
</div>


